{% extends 'crud/base.html' %}

{% block title %}

    Sign up

{% endblock title %}


{% block content %}
    <style>
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 130vh;
  }

  .form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 500px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .form-container label {
    margin-bottom: 10px;
  }

  .form-container input[type="text"],
  .form-container input[type="email"],
  .form-container input[type="password"],
  .form-container input[type="file"] {
    width: 100%;
    padding: 10px 10px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .form-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
  }

  .form-container input[type="submit"]:hover {
    background-color: #45a049;
  }

  .form-container .social-login {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }

  .form-container .social-login a {
    margin: 0 10px;
    text-decoration: none;
    color: #666;
    display: flex;
    align-items: center;
  }

  .form-container .social-login img {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }

  .form-container .image-preview-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .form-container .image-preview {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    object-fit: cover;
    border-radius: 5px;
    border: 1px solid #ccc;
  }

  .form-container .error-helptext {
    color: red;
    margin-top: -10px;
    margin-bottom: 10px;
  }
</style>

<script>
  function previewImage(event) {
    var reader = new FileReader();
    reader.onload = function () {
      var imagePreview = document.getElementById("image-preview");
      imagePreview.src = reader.result;
      imagePreview.style.display = "block";
    };
    reader.readAsDataURL(event.target.files[0]);
  }

  function validateForm() {
    var usernameInput = document.getElementById("id_username");
    var passwordInput1 = document.getElementById("id_password1");
    var passwordInput2 = document.getElementById("id_password2");
    var helptext = document.getElementById("helptext");
    var errorHelptext = document.getElementById("error-helptext");

    if (passwordInput1.value !== passwordInput2.value) {
      helptext.style.visibility = "hidden";
      errorHelptext.textContent = "Пароли не совпадают.";
      errorHelptext.style.visibility = "visible";
      return false;
    }

    helptext.style.visibility = "visible";
    errorHelptext.style.visibility = "hidden";

    return true;
  }
</script>

<div class="form-container">
    <h1>Sign up</h1>
  <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
    {% csrf_token %}
    <p>
      <label for="id_username">Username:</label>
      <input type="text" name="username" maxlength="150" autofocus="" required="" id="id_username">
      <span id="helptext">Required. No more than 150 characters. Letters, numbers and @/./+/-//_ symbols are allowed.</span>
    </p>

    <p>
      <label for="id_email">Email:</label>
      <input type="email" name="email" required="" id="id_email">
    </p>

    <p class="image-preview-container">
      <label for="id_user_image">Your image:</label>
      <input type="file" name="user_image" accept="image/*" required="" id="id_user_image" onchange="previewImage(event)">
      <img id="image-preview" class="image-preview" style="display: none;">
    </p>

    <p>
      <label for="id_password1">Password:</label>
      <input type="password" name="password1" required="" id="id_password1">
    </p>

    <p>
      <label for="id_password2">Confirm Password:</label>
      <input type="password" name="password2" required="" id="id_password2">
    </p>

    <p class="error-helptext" id="error-helptext"></p>

    <input type="submit" value="Sign up">
  </form>
</div>
{% endblock content %}